<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-2 ps-4 pe-4">
  <a class="navbar-brand text-warning" href="#">Quai Antique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto ms-5">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil
          <span class="sr-only">(Actuel)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Réserver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">à propos</a>
      </li>
    </ul>
  </div>
  
  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-light">Connexion</button>
    <button type="button" class="btn btn-outline-light">Inscription</button>
  </div>
</nav>

