{% extends 'base.html.twig' %}

{% block title %}
    Quai Antique - Bienvenue !
{% endblock %}

{% block body %}

{% if not plats.items is same as([]) %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4 text-center text-warning">Bienvenue au Quai Antique!</h1>
        <p class="lead text-center">Venez deguster nos delicieux produit issu de notre belle region La Savoie ! </p>
        <hr class="my-4">
    </div>
    <div class="row">

        {% for plat in plats %}
        <div class="col-lg-3">
            <div class="card mb-3">
                <h4 class="card-header text-center"> {{plat.title}} </h4>
                <img class="fit-picture" src=" {{plat.image}} " alt="image de plats incontournable">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(plats) }}
    </div>
    <div class="container text-center m-4">
        <button class="btn btn-lg btn-warning" style="width:50%; color:black" type="button">Réserver une table</button>
    </div>

    {% else %}
        <h4 class="m-4">Il n'y a pas de plats</h4>
    {% endif %}
</div>

{% endblock %}

