{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Menus{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4 text-warning text-center">Création d'un Menu</h1>

    </div>
{% endblock %}
