{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Modification de l'utilisateur{% endblock %}

{% block body %}
    <div class="container">

        <div class="card mt-4 p-4">
            <div class="card-body">
                <h1 class="text-center mt-4 text-warning">Modifier votre mots de passe</h1>

                {# flash info danger a la modification d'un profil utilisateur mdp incorrect #}
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-danger mt-4">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(form) }}

            </div>
        </div>

    </div>
{% endblock %}
