{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Horaires{% endblock %}

{% block body %}
    <div class="container-fluid MarginPageTop">
        {% if not horaires.items is same as([]) %}

        <h1 class="text-warning text-center">Les horaires</h1>

        {# flash info success a la modif des horaires #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
     
        {% for horaire in horaires %}  
            <div class="container">
                <a href="{{ path('app_horaires.edit', { id: horaire.id }) }}" class="btn btn-primary mt-4">Modifier</a>             
                <div class=" mt-4">
                    <h4>Les horaires d'ouverture du magazin : </h4>
                </div>
            </div>       
        {% endfor %}

    
    {% else %}
        <h4 class="m-4">Il n'y a pas d'horaires</h4>
    {% endif %}
    </div>
    {# inclusion du footer #}
    {% include 'partials/_footer.html.twig' %}
    
<style>
    .MarginPageTop{
        margin-top:15vh;
    }
     .active7 {
        color:orange;
    }
</style>
{% endblock %}
