{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Inscription{% endblock %}



{% block body %}

    <div class="container d-flex justify-content-center MarginPageTop">

        <div class="card m-4 p-4">
            <div class="card-body">
                <h1 class=" text-warning text-center">Formulaire d'inscription</h1>

                {{ form(form) }}
            </div>
        </div>

    </div>
<style>
    .MarginPageTop{
        margin-top:15vh;
    }
    @media screen and (min-width: 992px) {
        .card{
            width:60%;
        }
    }
</style>
{% endblock %}
