{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Inscription{% endblock %}



{% block body %}

    <div class="container">

        <div class="card mt-4 p-4">
            <div class="card-body">
                <h1 class=" text-warning text-center">Formulaire d'inscription</h1>

                {{ form(form) }}
            </div>
        </div>

    </div>

{% endblock %}
